 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
 }

 p{
    font-size: 1.5rem;
 }
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
/*     
    display: flex;
    flex-direction: column;
    gap: 45rem; */
}

body .cover{
    min-height: 50vh;
    width: 100%;
    border-radius: 0 0 0 3rem;
    background-color: #254330;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

nav{
    height: 5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px ;
    width: 80%  ;
}
.navlist_container{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.coverh1{
    font-family: "Inter", sans-serif;
    font-size: 24rem;
}

.cover-contentdiv{
    display: flex;
    justify-content: space;
    padding-top: 4rem;
    width: 80%;
    margin-top: 2rem;
}


.heroContent{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50vh;
}

.heroContent div{
    display: flex;
    gap: 3rem;
}
.cir-div{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 70vh;
    position: relative;
}



.circle{
    height:17rem;
    width: 17rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top:0%;
    left: 10%;
}

.circle1{
    height:13rem;
    width: 13rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 80%;
}   

.circle2{
    height:10rem;
    width: 10rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 35%;
}

.cover-contentdiv div:first-of-type h1, .action-inner h1{
    font-size: 50px;
}

.basicnav{
    height: 3rem;
    color: white;
    background-color: #53C351;
    border: none;
    border-radius: 1rem;
    outline: hidden;
    width: 6rem;
}

.howitworks, .col-inner>img{
    height: 3rem;
    background-color: transparent;
    /*border-radius: 1rem;*/
    color: #FFFFFF;
    border: none;
}

.contentside{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.objectives{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contentside .objectives .each-obj{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: space-between;
    width: 100%;
}

.each-obj .eachobj-section{
    display: flex;
    flex-direction: row;
}

.eachobj-section div:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.eachobj-section div:first-of-type > h1{
    font-size: 3em;
}

.each-obj > .eachobj-section>p{
    font-size: 10rem;
    font-weight: 600;
    color: #E6E6E6;
    line-height: 20vh;
}

each-obj div p{
    font-size: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.readmore{
    color: #53C351;
}

.each-obj img{
    height: 50vh;
    width: 100%;
    object-fit: cover;
}


.missions{
    background: linear-gradient(to bottom, #E2EEEC, #E3EFED00 50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 0 0;
}


.missions .mission-category{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mission-category > h1, .mission-category >div>h1, .inner>div>h1{
    font-size: 4rem;
    width: 33rem;
}

.mission-cat-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
}

.mission-cat-col{
    height: 30vh;
    border-radius: 1rem;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-cat-col > .col-inner > p:first-of-type{
    padding: 1.2rem 0 0 1.2rem;
    width: 3.5rem;
    height: 3rem;
    border-radius: 0.3rem;
    background-color: #E2EEEC;
}

.mission-cat-col:hover{
    color: #FFFFFF;
    background-color: #1C3A27;
}


.project-category{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.project-category div{
    display: flex;
}

.project-category div h1{
    width: 90%;
}
.projectside{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.project-left-side{
    width: 50%;
    height: 70vh;
    border-radius: 2rem;
    background: url("Screenshot 2023-10-31 222840.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

}

.project-right-side{
    width: 50%;
    height: 70vh;
    border-radius: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.project-right-side > div{
    width: 100%;
    height: 70vh;
    border-radius: 2rem;
    background: url("Screenshot 2023-10-31 222840.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.project-left-side > img, .project-right-side > img{
    object-fit: fill;
}

.project-left-side .project-details{
    display: none;
    width: 100%;
    height: 20vh;
    background-color: #1C3A27;
    border-radius: 0 1rem 0 1rem;
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
}
.project-left-side:hover .project-details{
    display: flex;
    flex-direction: row;
}

.project-right-side .project-details{
    display: none;
    width: 100%;
    height: 12vh;
    background-color: #1C3A27;
    border-radius: 0 1rem 0 1rem;
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
}
.project-right-side > div:hover .project-details{
    display: flex;
    flex-direction: row;
}


.project-details>div:nth-of-type(1){
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.project-details>div:nth-of-type(2){
    width: 5%;
}

.project-details>div:nth-of-type(2) button{
    width: 100%;
    font-size: 2rem;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}

.action{
    height: 70vh;
    width: 100%;
    color: white;
    background-color: #EBEBEB;
}

.action .action-inner{
    height: 70vh;
    width: 70%;
    background-color: #1C3A27;
    border-radius: 0 30rem 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-inner > div{
    width: inherit;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.action-inner > div >div{
    display: flex;
    color: #FFFFFF;
    gap: 3rem;
}

.takeaction{
    width: 8rem;
    color: #FFFFFF;
    border: 2px #FFFFFF solid;
    border-radius: 0.5rem;
    background-color: transparent;
}

.latestblog{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #E2EEEC 1%, #E3EFED00);
    height: 100vh;
}

.latestblog .inner{
    width: 80%;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.row .col {
    width: 100%;
    height: 25%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
}


.col-inner{
    border-radius: inherit;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.col-inner >div> img{
    width: 100%;
    height: 40%;
    object-fit: fill;
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

.col-inner h1{
    font-size:1.2rem;
}

footer{
    height: 50vh;
    width: 100%;
    margin-top: 5rem;
    background-color: #F4F9F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .inner-footer{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.inner-1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}



.inner-1 form{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.inner-1 form .emailinput{
    width: 100%;
    height: 2rem;
    line-height: 4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.inner-2{
    display: flex;
    flex-direction: row;
}

.inner-2 img{
    width: auto;
    height: 3rem;
}

.footerh1{
    font-size: 1.5rem;
}